{% extends 'landing/wrapper.html' %}
{% load static %}
{% block content %}
    <table>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Исполнитель</th>
            <th>Like</th>
            <th>Длительность</th>
        </tr>

        <tr>
            {% for element in song %}
            <td></td>
            <td><a href="{{ element.artist_song.url }}">{{ element.title }}</a></td>
            <td><a href="{% url 'artist' %}">{{ element.artist }}</a></td>
            <td><a href="/song/addlikes/{{ element.id }}">
                <img src="{% static 'song/like.jpg' %}" width="25" height="25" style="margin-top:-7px;">
                </a></td>
            <td>{{ element.duration }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}