{% extends 'landing/wrapper.html' %}
{% block content %}
<div align='center'>
    <br/>
    <hr/>
<i>Музыка – это палитра эмоций: веселье и радость, необычные и непредсказуемые переживания.
    Познания мира через художественный музыкальный образ обогащает личность, способствует
    всестороннему развитию. Под влиянием музыки развивается художественное восприятие,
    богаче становятся переживания.<br/>
    На нашем музыкальном портале Вы можете бесплатно скачать и слушать онлайн Вашу любимую музыку
    в формате mp3.</i>
</div>
{% endblock %}
